

#menuıcon{
    vertical-align: middle;
    opacity: 0.5;
    height: 28px;
    
}
.left{
   
    color: black;
    float: left;
    /* padding-left: 10px; */
    
}
.right{
    float: right;
    text-decoration: none;
    padding-right: 10px;
}
.link{
    color: rgba(0, 0, 0, 0.74);
    font-size: 11px;
}
nav a{
    text-decoration: none;
    margin-left: 0.5rem;
    margin-right: 0.5rem;
}
header{
    width: 100%;
    padding-top: 10px;
   
}
#singbutton{
    color: rgb(255, 243, 243);
    background-color: rgb(66, 133, 240);
    border: none;
    height: 25px;
    width: 70px;
    font-weight: bold;
    border-radius: 5px;
}
.google{
    /* margin-top: 5rem; */

    margin-left: auto;
    margin-right: auto;
    height: 95px;
    width: 272px;
    display: block;
    margin-top: 200px;
}
.search{
    /* margin-top: auto; */
    /* margin-left: 200px;
    margin-right: 200px; */
    text-align: center;


}
#input{
    /* background-color: rgb(106, 93, 93); */
    height: 30px;
    width: 460px;
    border-radius: 25px;
    border: 1px solid rgba(209, 203, 203, 0.667);
    font-size: 15px;
   
}
body{
    font-family: Arial, Helvetica, sans-serif;
    
}
 #sb{
    position: relative;
    top: 6px;
    right: 460px;
    height: 20px;
    width: 20px;
}
#mic{
    position: relative;
    top: 6.5px;
    height: 20px;
    right: 50px;
}
.button-conta{
    text-align: center;
    padding-top: 30px;
   
}
#bt1{
    height: 35px;
    width: 120px;
    border: hidden;
    border-radius: 5px;
    margin-right: 5px;
 
   
}
#bt2{
    height: 35px;
    width: 120px;
    border: hidden;
    border-radius: 5px;
    margin-right: 5px;
}
.gb{
    text-decoration: none;
    color: gray;
}
.sbclour{
    color: white;
}
p{
    text-align: center;
    padding-top: 5px;
}
.english{
    text-decoration: none;
}